<!DOCTYPE html>
<html>

<head>
    <title>Check Balance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include "side_navbar.html" %}
    {% include "navbar.html" %}
    <div class="page-center">
        <div class="atm-box">

            <h2>Your Balance</h2>

            <h3>₹ {{ balance }}</h3>

            <form action="/menu">
                <button type="submit">Back to Menu</button>
            </form>

        </div>
    </div>

</body>

</html>