<!DOCTYPE html>
<html>

<head>
    <title>ATM Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include "side_navbar.html" %}
    {% include "navbar.html" %}
    <div class="page-center">
        <div class="atm-box">

            <h2>ATM Login</h2>

            <form method="POST">
                <input type="password" name="pin" placeholder="Enter PIN" required>
                <button type="submit">Login</button>
            </form>

            <form action="/register">
                <button type="submit">Register</button>
            </form>

            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}

        </div>
    </div>

</body>

</html>